@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

/*Cards*/
.container-card {
    width: 100%;
    display: flex;
    max-width: 1000px;
    margin: auto;
    flex-wrap: wrap; /* Añadido */
    padding: 0 15px; /* Añadido para ajustar espacios */
}

.title-cards {
    width: 100%;
    max-width: 1080px;
    padding: 40px;
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
}

.card {
    width: calc(33.33% - 30px); /* Ajuste para 3 tarjetas por fila */
    margin: 15px; /* Ajuste para 3 tarjetas por fila */
    border-radius: 10px;
    overflow: hidden;
    background: #000000;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 250px;
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
}

.card .contenido-card {
    padding: 50px;
    text-align: center;
}

.card .contenido-card h3 {
    margin-bottom: 15px;
    color: #ffffff;
}

.card .contenido-card p {
    line-height: 1.8;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 5px;
}

.card .contenido-card a {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: hsl(338, 82%, 44%);
    border: 1px solid hsl(338, 82%, 44%);
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
    margin-top: 2px;
}

.card .contenido-card a:hover {
    background: hsl(338, 82%, 44%);
    color: #fff;
}
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      scale: 25%;
    }
    100% {
      opacity: 1;
      scale: 100%;
    }
  }



@media only screen and (max-width: 768px) {
    .card {
        width: calc(70% - 30px); /* Ajuste para 2 tarjetas por fila */
    }
}
